body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: rgb(44, 41, 44);
    
}

body.active{
    background-color: rgb(250, 250, 250);
}

body.dark{
    background-color: rgb(35, 35, 35);
}


#main-header{
    background-color: rgb(140, 0, 255);
    color: rgb(238, 238, 238);
    text-align: center;
    padding: 2rem 5rem;
}


/* Theme Toggler */

.theme-toggler {
    position: absolute;
    top: 70px;
    right: 80px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}


.btn{
    font: inherit;
    padding: 0.5rem 1rem;
    background-color: rgb(140, 0, 255);
    border: 1px solid rgb(140, 0, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: rgb(140, 0, 255);
}

.btn:hover{
    background-color: rgb(79, 10, 180);
    border-color: rgb(79, 10, 180);
}

.btn-alt:hover{
    background-color: rgb(226, 175, 255);
    border-color: rgb(200, 132, 255);
} 
.turn{
    color: black ;
}

#active-player-name{
    font-weight: bold !important;
    color: blueviolet !important;
}

.turn.dark{
    color: white ;
}
